@{
    ViewBag.Title = "About";
}

<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>

        <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <h3 class="title text-center mb-2">4 GIÁ TRỊ LÀM NÊN hotel online</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-4 news-img text-center">
                        <img src="~/Content/Home/images/chanthanh.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 col-sm-8 news-wthree-text text-left">
                        <p>
                            Bắt đầu từ sứ mệnh “Deliver Happiness” - Trao gửi hạnh phúc,
                            chúng tôi tin rằng khi làm việc với tất cả sự chân thành và tôn trọng những giá trị nguyên bản của từng nhân viên cũng như khách hàng,
                            tất cả mọi người đến với TRIPLE T đều nhận được những niềm vui nho nhỏ,
                            được tốt lên và làm người khác tốt lên từng ngày.
                        </p>
                        <h4 class="mt-3 ">Chân Thành</h4>
                    </div>
                </div>
                <div class="row mt-lg-5 mt-md-4 mt-3">
                    <div class="col-md-9 col-sm-8 news-wthree-text text-right">
                        <p>
                            Mỗi sản phẩm, chiến dịch của TRIPLE T luôn xoay quanh con người.
                            Chúng tôi lấy khách hàng, nhân viên và cộng đồng làm trọng tâm cho mọi quyết định.
                            Vì khi có bạn, TRIPLE T được tiếp thêm sức mạnh để cùng lan toả những giá trị tốt đẹp cho người trẻ Việt Nam.
                        </p>
                        <h4 class="mt-3 ">
                            Quan Tâm
                        </h4>
                    </div>
                    <div class="col-md-3 col-sm-4 news-img text-center">
                        <img src="~/Content/Home/images/quantam.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row mt-lg-5 mt-md-4 mt-3">
                    <div class="col-md-3 col-sm-4 news-img text-center">
                        <img src="~/Content/Home/images/sangtao.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 col-sm-8 news-wthree-text text-left">
                        <p>
                            Chúng tôi muốn tạo ra dấu ấn khác biệt cho cà phê Việt Nam bằng sự tử tế và cẩn trọng.
                            5 năm qua, cảm ơn bạn là nguồn động lực giúp chúng tôi nỗ lực đổi mới và kiến tạo mỗi ngày,
                            để mang lại những thành phẩm tuyệt vời nhất, để trải nghiệm của bạn ngày một tốt hơn.
                        </p>
                        <h4 class="mt-3 ">Sáng Tạo</h4>
                    </div>
                </div>
                <div class="row mt-lg-5 mt-md-4 mt-3">
                    <div class="col-md-9 col-sm-8 news-wthree-text text-right">
                        <p>
                            Tại TRIPLE T, những tâm hồn đồng điệu cùng nhau làm việc cần mẫn và chung sức cho những mục tiêu lớn.
                            Mỗi ngày với chúng tôi đều là một ngày được học hỏi,
                            trải nghiệm những điều mới, đón nhận thách thức và dấn thân trên con đường phía trước.
                            Hành trình tiếp theo, chúng tôi mong muốn được cùng bạn nuôi dưỡng ước mơ và kiên trì đi đến tận cùng ước mơ của mình.
                        </p>
                        <h4 class="mt-3 ">
                            Dũng Cảm
                        </h4>
                    </div>
                    <div class="col-md-3 col-sm-4 news-img text-center">
                        <img src="~/Content/Home/images/dungcam.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

